body {
  font-family: 'Cambria';
  margin: 30px 0 0 50px;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 30px;
  margin: 0;
}
h3 {
  font-size: 22px;
  margin: 11px 0 0 0;
}

a {
  display: block;
  width: fit-content;
  color: rgb(43, 105, 220);
  transition: all 0.1s ease-in-out 0s;
}
a:hover {
  color: rgb(120, 160, 234);
}

ul {
  margin: 15px 0;
}
li a {
  padding: 3px;
}

h2 a, h3 a {
  text-decoration: none;
}