/*--------- FONTS ----------*/

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal; 
  font-weight: 500; 
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: 600; 
}

/*--------- CONST ----------*/

:root {
  --font-main: 'Roboto';
  --font-pen: 'Yesteryear', cursive;
  --font-quote: 'Delius', cursive;
  
  --white: #FFFFFF;
  --black: #000;
  --blue: #1E1D4C;
  --grey: #7D7D7D;
  --grey-dark: #2F2F2F;
  --grey-light: #F7F7F7;
  --grey-2:  #e5e5ea;
  
  --blue-light: #5E6282;
  --orange: #DF6951;
  --orange-hover: #df7763;
  --success: #4DB84D;
  --yellow: #FFBA0A;
  --error: #DF5A5A;
}

/*--------- NULLING STYLE ----------*/

*{
	padding: 0;
	margin: 0;
	border: 0;}
*,*:before, after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 16px;
  font-weight: 400;
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--black);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
div, p, a, span {font-family: var(--font-main);}
input,button,textarea{font-family: var(--font-main);}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-mox-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none; cursor: pointer; display: block;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{display: block; vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-family: var(--font-main); font-weight: 400}

/*--------- COMMON ----------*/

h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: var(--blue);
}

h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--grey-dark);
}

h4 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--blue);
}

h5 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--orange);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 180px;
  padding: 0 20px;
  font-size: 17px;
  font-weight: 500;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 10px;
  box-shadow: 0 12px 30px 0 rgba(223, 105, 81, 0.15);
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: var(--orange-hover);
}

.btnSmall {
  height: 50px;
  min-width: 130px;
}

input,
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 0 20px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 5px;
}
textarea {
  height: 92px;
  width: 100%;
  padding: 21px 24px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 5px;
  resize: none;
}
input:focus,
textarea:focus {
  border: 1px solid var(--orange);
}
input::placeholder,
textarea::placeholder {
  color: var(--grey);
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  border-top: 1px solid var(--grey-2);
  background-color: var(--grey-light);
}
.footer__text {
  padding: 15px 0 10px;
  font-size: 12px;
  text-align: center;
  color: var(--grey);
}

@media (max-width: 599.98px) {
  h2 {
    font-size: 7vw;
  }
}

@media (max-width: 479.98px) {
  .btn {
    height: 52px;
    min-width: 160px;
    padding: 0 16px;
    font-size: 17px;
  }
  .btnSmall {
    height: 44px;
    min-width: 110px;
  }
}