.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 0 0;
}
.header__logo {
  margin: 10px 0 0 0;
}
.header__nav {
  display: flex;
  gap: 50px;
}
.header__nav a {
  position: relative;
  color: var(--white-always);
  font-weight: 500;
}
.header__nav a.active:before {
  position: absolute;
  content: '';
  bottom: -7px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 2px;
  width: 80%;
  background-color: var(--orange);
  border-radius: 1px;
}
.header__buttons {
  display: flex;
  gap: 15px;
}
.header__theme {
  width: 35px;
  background-color: transparent;
}
.header__menu {
  display: none;
  background-color: transparent;
  transform: scale(1.2);
  padding: 5px;
  margin: 0 5px 15px 0;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.imageBlock__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageBlock__title {
  font-family: var(--font-pen);
  font-size: 100px;
  letter-spacing: 0.01em;
  color: var(--white-always);
}

.footer {
  border-top: 1px solid var(--grey-2);
  background-color: var(--grey-light);
}
.footer__text {
  padding: 15px 0 10px;
  font-size: 12px;
  text-align: center;
  color: var(--grey);
}

@media (max-width: 700px) {
  .header__nav {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__theme {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .imageBlock__title {
    font-size: 16vw;
  }
}