body {
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 470px;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--success);
  border-left-width: 6px;
  z-index: 100;
  .modal__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 62px;
    margin: auto;
    padding: 0 20px;
    .modal__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
      font-size: 12px;
      color: var(--success);
      border: 2px solid var(--success);
      background-color: transparent;
      border-radius: 50%;
    }
    .modal__cross {
      position: absolute;
      padding: 5px;
      top: 5px;
      right: 5px;
      height: auto;
      background: var(--white);
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &.modal__success {
    border: 1px solid var(--success);
    border-left-width: 5px;
    .notification__wrapper {
      .notification__icon {
        font-size: 12px;
        color: var(--success);
        border: 2px solid var(--success);
      }
    }
  }
  &.modal__error {
    border: 1px solid var(--error);
    border-left-width: 5px;
    .modal__wrapper {
      .modal__icon {
        font-size: 16px;
        color: var(--error);
        border: 2px solid var(--error);
      }
    }
  }
}
