.tour__card {
  max-width: 340px;
}
.tour__card .tour__image {
  width: 100%;
  height: 0px;
  padding-bottom: 66%;
  background-image: url("../../assets/images/defaultImage.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
}
.tour__card .tour__iconGroups {
  display: flex;
  align-items: center;
  gap: 36px;
  margin: 20px 0 0 0;
}
.tour__card .tour__iconGroups .iconGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tour__card .tour__iconGroups .iconGroup .iconGroup__text {
  color: var(--grey);
}
.tour__card .tour__titleStars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0 0;
}
.tour__card .tour__titleStars .tour__title {
  font-weight: 700;
  font-size: 26px;
  color: var(--grey-dark);
}
.tour__card .tour__titleStars .tour__stars {
  display: flex;
  gap: 3px;
}
.tour__card .tour__titleStars .tour__starsShort {
  display: none;
  align-items: center;
  gap: 6px;
}
.tour__card .tour__titleStars .tour__starsShort .starsShort__number {
  color: var(--yellow);
}
.tour__card .tour__location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0 0 0;
}
.tour__card .tour__location .location__text {
  color: var(--grey);
}
.tour__card .tour__costs {
  display: flex;
  align-items: end;
  gap: 18px;
  margin: 7px 0 0 0;
}
.tour__card .tour__costs .tour__currentCost {
  font-weight: 500;
  font-size: 28px;
  color: var(--orange);
}
.tour__card .tour__costs .tour__oldCost {
  font-weight: 500;
  font-size: 20px;
  text-decoration: line-through;
  color: var(--grey);
}
.tour__card .tour__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 200%;
  color: #000;
  margin: 6px 0 0 0;
}
.tour__card .tour__button {
  margin: 24px 0 0 0;
}

@media (max-width: 1140px) {
  .tour__card {
    width: 29vw;
  }
  .tour__card .tour__titleStars .tour__title {
    font-size: 2.5vw;
  }
  .tour__card .tour__titleStars .tour__stars {
    display: none;
  }
  .tour__card .tour__titleStars .tour__starsShort {
    display: flex;
  }
  .tour__card .tour__costs .tour__currentCost {
    font-size: 3vw;
  }
  .tour__card .tour__costs .tour__oldCost {
    font-size: 2vw;
  }
}
@media (max-width: 900px) {
  .tour__card {
    width: calc(29vw - 10px);
  }
  .tour__card .tour__iconGroups {
    margin: 13px 0 0 0;
  }
  .tour__card .tour__iconGroups .iconGroup .iconGroup__text {
    font-size: 14px;
  }
  .tour__card .tour__titleStars {
    margin: 7px 0 0 0;
  }
  .tour__card .tour__titleStars .tour__title {
    font-size: 2.7vw;
  }
  .tour__card .tour__location {
    display: none;
  }
}
@media (max-width: 768px) {
  .tour__card {
    width: calc(50% - 20px);
    max-width: none;
  }
  .tour__card.isMain:nth-child(3) {
    display: none;
  }
  .tour__card .tour__iconGroups .iconGroup .iconGroup__text {
    font-size: 16px;
  }
  .tour__card .tour__titleStars .tour__title {
    font-size: 3.8vw;
  }
  .tour__card .tour__costs .tour__currentCost {
    font-size: 4vw;
  }
  .tour__card .tour__costs .tour__oldCost {
    font-size: 2.8vw;
  }
  .tour__card .tour__location {
    display: flex;
  }
  .tour__card .tour__description {
    font-size: 2vw;
  }
}
@media (max-width: 600px) {
  .tour__card {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  .tour__card .tour__iconGroups {
    margin: 15px 0 0 0;
  }
  .tour__card .tour__iconGroups .iconGroup .iconGroup__text {
    font-size: 18px;
  }
  .tour__card .tour__titleStars {
    margin: 8px 0 0 0;
  }
  .tour__card .tour__titleStars .tour__title {
    font-size: 5.5vw;
  }
  .tour__card .tour__titleStars .tour__stars {
    display: flex;
  }
  .tour__card .tour__titleStars .tour__starsShort {
    display: none;
  }
  .tour__card .tour__location .location__text {
    font-size: 18px;
  }
  .tour__card .tour__costs .tour__currentCost {
    font-size: 5.5vw;
  }
  .tour__card .tour__costs .tour__oldCost {
    font-size: 4vw;
  }
  .tour__card .tour__description {
    font-size: 2.8vw;
  }
}
@media (max-width: 480px) {
  .tour__card .tour__iconGroups .iconGroup .iconGroup__text {
    font-size: 16px;
  }
  .tour__card .tour__titleStars .tour__title {
    font-size: 30px;
  }
  .tour__card .tour__location .location__text {
    font-size: 16px;
  }
  .tour__card .tour__costs .tour__currentCost {
    font-size: 30px;
  }
  .tour__card .tour__costs .tour__oldCost {
    font-size: 20px;
  }
  .tour__card .tour__description {
    font-size: 14px;
  }
  .tour__card .tour__button {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 400px) {
  .tour__card .tour__titleStars .tour__stars {
    display: none;
  }
  .tour__card .tour__titleStars .tour__starsShort {
    display: flex;
  }
  .tour__card .tour__titleStars .tour__starsShort .starsShort__number {
    font-size: 20px;
  }
}