.main {
  flex: 1;
}
.main .section-imageBlock {
  background: url("../assets/images/main.jpg") center/cover no-repeat;
  height: 900px;
}
.main .section-imageBlock .wrapper {
  height: 85%;
}
.main .section-imageBlock .wrapper .imageBlock .imageBlock__content {
  flex-direction: column;
  align-items: flex-start;
}
.main .section-imageBlock .wrapper .imageBlock .imageBlock__content .imageBlock__quote {
  font-family: var(--font-quote);
  font-weight: 700;
  font-size: 58px;
  line-height: 116%;
  color: var(--white);
  margin: 8px 0 0 0;
  max-width: 670px;
}
.main .section-imageBlock .wrapper .imageBlock .imageBlock__content .imageBlock__button {
  margin: 20px 0 0 0;
}
.main .section-partners .partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
  background-color: var(--grey-light);
}
.main .section-partners .partners img {
  max-width: 150px;
}
.main .section-services {
  margin: 110px 0 0 0;
}
.main .section-services h2 {
  margin: 20px 0 0 0;
}
.main .section-services .services {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.main .section-services .services .services__card {
  border-radius: 36px;
  padding: 18px 26px 32px;
  max-width: 250px;
  transition: all 0.2s ease-in-out;
}
.main .section-services .services .services__card:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
}
.main .section-services .services .services__card .services__icon {
  height: 80px;
  margin: 0 auto;
}
.main .section-services .services .services__card .services__title {
  margin: 37px 0 0 0;
}
.main .section-services .services .services__card .services__text {
  margin: 12px 0 0 0;
  text-align: center;
  color: var(--blue-light);
}
.main .section-tours {
  margin: 110px 0 0 0;
}
.main .section-tours h2 {
  margin: 20px 0 0 0;
}
.main .section-tours .tours {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.main .section-amazing {
  display: flex;
  align-items: center;
  background: url("../assets/images/amazing.jpg") 50% 40%/cover no-repeat;
  min-height: 300px;
  margin: 80px 0 0 0;
}
.main .section-amazing .amazing__content {
  position: relative;
  margin-left: calc((100vw - 1000px) / 2);
  padding: 0 20px;
}
.main .section-amazing .amazing__content .amazing__text {
  font-family: var(--font-quote);
  font-weight: 600;
  font-size: 38px;
  text-transform: capitalize;
  color: var(--white);
}
.main .section-amazing .amazing__content .amazing__text::after {
  content: url("../assets/icons/amazing_line.svg");
  position: absolute;
  bottom: -40px;
  right: -110px;
  transform: rotate(-10deg) scale(0.8);
}
.main .section-comments {
  background-color: var(--grey-light);
  padding: 110px 20px 60px;
}
.main .section-comments h2 {
  margin: 20px 0 0 0;
}
.main .section-comments .comments {
  margin: 95px auto 0;
}
.main .section-comments .comments .comments__card {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 18px;
}
.main .section-comments .comments .comments__card .card__button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--grey);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}
.main .section-comments .comments .comments__card .card__button.card__btnLeft {
  left: -25px;
}
.main .section-comments .comments .comments__card .card__button.card__btnRight {
  right: -25px;
}
.main .section-comments .comments .comments__card .card__content {
  position: relative;
  padding: 80px 60px 30px;
}
.main .section-comments .comments .comments__card .card__content .card__imageContainer {
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 5px solid var(--white);
  box-shadow: 6px 14px 27px 0 rgba(0, 0, 0, 0.15), inset -4px 11px 18px 0 rgba(0, 0, 0, 0.25);
}
.main .section-comments .comments .comments__card .card__content .card__text {
  position: relative;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.05em;
  text-align: center;
  color: vat(--black);
}
.main .section-comments .comments .comments__card .card__content .card__text:before {
  content: url("../assets/icons/quote.svg");
  position: absolute;
  top: -15px;
  left: -25px;
}
.main .section-comments .comments .comments__card .card__content .card__author {
  margin: 13px 0 0 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.05em;
  text-align: center;
  color: vat(--black);
}
.main .section-comments .comments .comments__pagination {
  display: flex;
  gap: 15px;
  margin: 20px auto 0;
  justify-content: center;
}
.main .section-comments .comments .comments__pagination hr {
  height: 2px;
  width: 25px;
  border-radius: 1px;
  background-color: var(--grey-2);
  cursor: pointer;
}
.main .section-comments .comments .comments__pagination hr.pagination__active {
  background-color: var(--orange);
}

@media (max-width: 1023.98px) {
  .main .section-partners .partners {
    height: 140px;
  }
  .main .section-partners .partners img {
    max-width: 13vw;
  }
}
@media (max-width: 1023.98px) {
  .main .section-amazing .amazing__content {
    margin-left: 0;
  }
}
@media (max-width: 899.98px) {
  .main .section-partners .partners {
    height: 120px;
  }
  .main .section-services {
    margin: 80px 0 0 0;
  }
  .main .section-services .services {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .main .section-services .services .services__card {
    width: calc(50% - 15px);
  }
  .main .section-tours {
    margin: 80px 0 0 0;
  }
  .main .section-comments {
    padding: 80px 35px 60px;
  }
}
@media (max-width: 767.98px) {
  .main .section-imageBlock {
    background-size: auto 110%;
    background-position: center 10%;
    height: 700px;
  }
  .main .section-imageBlock .wrapper {
    height: 95%;
  }
  .main .section-imageBlock .wrapper .imageBlock .imageBlock__content .imageBlock__quote {
    font-size: 9vw;
  }
  .main .section-partners .partners {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: auto;
    padding: 30px 20px;
  }
  .main .section-partners .partners img {
    min-width: 21vw;
  }
  .main .section-tours .tours {
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media (max-width: 599.98px) {
  .main .section-partners .partners {
    gap: 40px;
  }
  .main .section-partners .partners img {
    min-width: calc((100% - 120px) / 3);
  }
  .main .section-comments .comments {
    margin: 60px auto 0;
  }
}
@media (max-width: 499.98px) {
  .main .section-amazing {
    min-height: 240px;
    background-size: auto 140%;
  }
  .main .section-amazing .amazing__content .amazing__text {
    font-size: 7.6vw;
  }
  .main .section-amazing .amazing__content .amazing__text::after {
    bottom: -30px;
    transform: rotate(-10deg) scale(0.5);
  }
}
@media (max-width: 479.98px) {
  .main .section-imageBlock {
    background-size: auto 120%;
    background-position: 42% 10%;
    height: 550px;
  }
  .main .section-partners .partners {
    gap: 30px;
    padding: 20px;
  }
  .main .section-partners .partners img {
    min-width: calc((100% - 60px) / 3);
  }
  .main .section-services {
    margin: 60px 0 0 0;
  }
  .main .section-services h2 {
    margin: 15px 0 0 0;
  }
  .main .section-services .services {
    gap: 10px;
  }
  .main .section-services .services .services__card {
    width: calc(50% - 5px);
  }
  .main .section-tours {
    margin: 60px 0 0 0;
  }
  .main .section-tours h2 {
    margin: 15px 0 0 0;
  }
  .main .section-amazing {
    margin: 60px 0 0 0;
  }
  .main .section-comments {
    padding: 60px 20px 40px;
  }
  .main .section-comments h2 {
    margin: 15px 0 0 0;
  }
  .main .section-comments .comments .comments__card .card__button {
    width: 35px;
    height: 80px;
    border-radius: 17px;
  }
  .main .section-comments .comments .comments__card .card__button.card__btnLeft {
    left: -10px;
  }
  .main .section-comments .comments .comments__card .card__button.card__btnRight {
    right: -10px;
  }
  .main .section-comments .comments .comments__card .card__content {
    padding: 70px 35px 30px;
  }
  .main .section-comments .comments .comments__card .card__content .card__imageContainer {
    top: -40px;
  }
  .main .section-comments .comments .comments__card .card__content .card__imageContainer .card__image {
    max-width: 80px;
  }
  .main .section-comments .comments .comments__card .card__content .card__text:before {
    transform: scale(0.7);
  }
}
@media (max-width: 399.98px) {
  .main .section-services {
    margin: 60px 0 0 0;
  }
  .main .section-services .services {
    gap: 0;
  }
  .main .section-services .services .services__card {
    width: 100%;
    max-width: 300px;
  }
  .main .section-amazing {
    min-height: 200px;
    background-size: auto 170%;
  }
  .main .section-comments .comments .comments__card .card__content .card__text {
    font-size: 13px;
  }
}