.main {
  flex: 1;
  position: relative;
  .section-imageBlock {
    background: url('../assets/images/main.jpg') center/cover no-repeat;
    height: 900px;
    .wrapper {
      height: 85%;
      .imageBlock {
        .imageBlock__content {
          flex-direction: column;
          align-items: flex-start;
          .imageBlock__quote {
            font-family: var(--font-quote);
            font-weight: 700;
            font-size: 58px;
            line-height: 116%;
            color: var(--white-always);
            margin: 8px 0 0 0;
            max-width: 670px;
          }
          .imageBlock__button {
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
  .section-partners {
    .partners {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 160px;
      background-color: var(--grey-light);
      img {
        max-width: 150px;
        &:first-child {
          margin: 0 0 15px 0;
        }
      }
    }
  }
  .section-services {
    padding: 110px 0 40px 0;
    h2 {
      margin: 20px 0 0 0;
    }
    .services {
      margin: 20px 0 0 0;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .services__card {
        border-radius: 36px;
        padding: 18px 26px 32px;
        max-width: 250px;
        transition: all 0.2s ease-in-out;
        &:hover {
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
        }
        .services__icon {
          height: 80px;
          margin: 0 auto;
        }
        .services__title {
          margin: 37px 0 0 0;
        }
        .services__text {
          margin: 12px 0 0 0;
          text-align: center;
          color: var(--blue-light);
        }
      }
    }
  }
  .section-tours {
    padding: 70px 0 0 0;
    h2 {
      margin: 20px 0 0 0;
    }
    .tours {
      margin: 50px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  }
  .section-amazing {
    padding: 80px 0 0 0;
    .amazing {
      display: flex;
      align-items: center;
      background: url('../assets/images/amazing.jpg') 50% 40%/cover no-repeat;
      min-height: 300px;
      .amazing__content {
        position: relative;
        margin-left: calc((100vw - 1000px)/2);
        padding: 0 20px;
        .amazing__text {
          font-family: var(--font-quote);
          font-weight: 600;
          font-size: 38px;
          text-transform: capitalize;
          color: var(--white-always);
          &::after {
            content: url('../assets/icons/amazing_line.svg');
            position: absolute;
            bottom: -40px;
            right: -110px;
            transform: rotate(-10deg) scale(0.8);
          }
        }
      }
    }
  }
  .section-comments {
    background-color: var(--grey-light);
    padding: 110px 20px 60px;
    h2 {
      margin: 20px 0 0 0;
    }
    .comments {
      margin: 95px auto 0;
      .comments__card {
        position: relative;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        background-color: var(--white);
        border-radius: 18px;
        .card__button {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: var(--grey);
          color: var(--white);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            opacity: 0.8;
          }
          &.card__btnLeft {
            left: -25px;
          }
          &.card__btnRight {
            right: -25px;
          }
        }
        .card__content {
          position: relative;
          padding: 80px 60px 30px;
          .card__imageContainer {
            position: absolute;
            top: -46px;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 50%;
            border: 5px solid var(--white);
            box-shadow: 6px 14px 27px 0 rgba(0, 0, 0, 0.15), inset -4px 11px 18px 0 rgba(0, 0, 0, 0.25);
            .card__image {
              transition: opacity 0.4s ease-in-out;
              &.fade-out {
                opacity: 0;
              }
            }
          }
          .card__text {
            position: relative;
            font-size: 14px;
            line-height: 200%;
            letter-spacing: 0.05em;
            text-align: center;
            color: vat(--black);
            transition: opacity 0.4s ease-in-out;
            &:before {
              content: url('../assets/icons/quote.svg');
              position: absolute;
              top: -15px;
              left: -25px;
            }
            &.fade-out {
              opacity: 0;
            }
          }
          .card__author {
            margin: 13px 0 0 0;
            font-size: 12px;
            font-weight: 700; 
            line-height: 200%;
            letter-spacing: 0.05em;
            text-align: center;
            color: vat(--black);
          }
        }
      }
      .comments__pagination {
        display: flex;
        gap: 9px;
        margin: 15px auto 0;
        justify-content: center;
        div {
          padding: 5px 3px;
          cursor: pointer;
          hr {
            height: 2px;
            width: 25px;
            border-radius: 1px;
            background-color: var(--grey-2);
            transition: all 0.2s ease-in-out;
            &.active {
              background-color: var(--orange);
            }
          }
          &:hover {
            hr {
              opacity: 0.6;
              background-color: var(--grey-dark);
              &.active {
                opacity: 1;
                background-color: var(--orange);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main {
    .section-partners {
      .partners {
        height: 140px;
        img {
          max-width: 13vw;
        }
      }
    }
    .section-amazing {
      .amazing {
        .amazing__content {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .main {
    .section-partners {
      .partners {
        height: 120px;
      }
    }
    .section-services {
      padding: 80px 0 40px 0;
      .services {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .services__card {
          width: calc(50% - 15px);
        }
      }
    }
    .section-tours {
      padding: 40px 0 0 0;
    }
    .section-comments {
      padding: 80px 35px 60px;
    }
  }
}

@media (max-width: 768px) {
  .main {
    .section-imageBlock {
      background-size: auto 110%;
      background-position: center 10%;
      height: 700px;
      .wrapper {
        height: 95%;
        .imageBlock {
          .imageBlock__content {
            .imageBlock__quote {
              font-size: 9vw;
            }
          }
        }
      }
    }
    .section-partners {
      .partners {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        height: auto;
        padding: 30px 20px;
        img {
          min-width: 21vw;
        }
      }
    }
    .section-tours {
      .tours {
        flex-wrap: wrap;
        gap: 40px;
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    .section-partners {
      .partners {
        gap: 40px;
        img {
          min-width: calc((100% - 120px)/3);
        }
      }
    }
    .section-amazing {
      .amazing {
        .amazing__content {
          .amazing__text {
            &::after {
              bottom: -30px;
              transform: rotate(-10deg) scale(0.7);
            }
          }
        }
      }
    }
    .section-comments {
      .comments {
        margin: 60px auto 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    .section-amazing {
      .amazing {
        min-height: 240px;
        background-size: auto 140%;
        .amazing__content {
          .amazing__text {
            font-size: 7.6vw;
            &::after {
              transform: rotate(-10deg) scale(0.5);
            }
          }
        }
      }
      }
  }
}

@media (max-width: 480px) {
  .main {
    .section-imageBlock {
      background-size: auto 120%;
      background-position: 42% 10%;
      height: 550px;
    }
    .section-partners {
      .partners {
        gap: 30px;
        padding: 20px;
        img {
          min-width: calc((100% - 60px)/3);
          &:first-child {
            margin: 0 0 5px 0;
          }
        }
      }
    }
    .section-services {
      padding: 60px 0 40px 0;
      h2 {
        margin: 15px 0 0 0;
      }
      .services {
        gap: 10px;
        .services__card {
          width: calc(50% - 5px);
        }
      }
    }
    .section-tours {
      padding: 20px 0 0 0;
      h2 {
        margin: 15px 0 0 0;
      }
    }
    .section-amazing {
      padding: 60px 0 0 0;
    }
    .section-comments {
      padding: 60px 20px 40px;
      h2 {
        margin: 15px 0 0 0;
      }
      .comments {
        .comments__card {
          .card__button {
            width: 35px;
            height: 80px;
            border-radius: 17px;
            &.card__btnLeft {
              left: -10px;
            }
            &.card__btnRight {
              right: -10px;
            }
          }
          .card__content {
            padding: 70px 35px 30px;
            .card__imageContainer {
              top: -40px;
              .card__image {
                max-width: 80px;
              }
            }
            .card__text {
              &:before {
                transform: scale(0.7);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .main {
    .section-services {
      padding: 60px 0 0 0;
      .services {
        gap: 0;
        .services__card {
          width: 100%;
          max-width: 300px;
        }
      }
    }
    .section-amazing {
      .amazing {
        min-height: 200px;
        background-size: auto 170%;
        .amazing__content {
          .amazing__text {
            &::after {
              transform: rotate(-10deg) scale(0.4);
            }
          }
        }
      }
    }
    .section-comments {
      .comments {
        .comments__card {
          .card__content {
            .card__text {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}